 body {
 	font-weight: 100;
 	font-style: normal;
    font-size: 14px;
    color: navy;
    text-transform: uppercase;
}

h1 {
    font-size: 1.5em;
    background-color: #ccc;
    margin: 20px;
    padding: 40px;
     border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: red;
}

p {
    letter-spacing: 0.5em;
    word-spacing: 2em;
    line-height: 1.5;
    text-align: center;
}